[submodule "core-framework"]
	path = core-framework
	url = https://github.com/eitssg/core-framework.git
[submodule "core-db"]
	path = core-db
	url = https://github.com/eitssg/core-db.git
[submodule "core-docs"]
	path = core-docs
	url = https://github.com/eitssg/core-docs.git
[submodule "core-api"]
	path = core-api
	url = https://github.com/eitssg/core-api.git
[submodule "core-execute"]
	path = core-execute
	url = https://github.com/eitssg/core-execute.git
[submodule "core-runner"]
	path = core-runner
	url = https://github.com/eitssg/core-runner.git
[submodule "core-automation-docker"]
	path = core-automation-docker
	url = https://github.com/eitssg/core-automation-docker.git
[submodule "core-docker"]
	path = core-docker
	url = https://github.com/eitssg/core-docker.git
