[submodule "core-docs"]
	path = core-docs
	url = https://github.com/eitssg/core-docs.git
[submodule "core-docker"]
	path = core-docker
	url = https://github.com/eitssg/core-docker.git
[submodule "sck-core-runner"]
	path = sck-core-runner
	url = https://github.com/eitssg/sck-core-runner.git
[submodule "sck-core-invoker"]
	path = sck-core-invoker
	url = https://github.com/eitssg/sck-core-invoker.git
[submodule "sck-core-framework"]
	path = sck-core-framework
	url = https://github.com/eitssg/sck-core-framework.git
[submodule "sck-core-execute"]
	path = sck-core-execute
	url = https://github.com/eitssg/sck-core-execute.git
[submodule "sck-core-deployspec"]
	path = sck-core-deployspec
	url = https://github.com/eitssg/sck-core-deployspec.git
[submodule "sck-core-component"]
	path = sck-core-component
	url = https://github.com/eitssg/sck-core-component.git
[submodule "sck-core-db"]
	path = sck-core-db
	url = https://github.com/eitssg/sck-core-db.git