[submodule "core-framework"]
	path = core-framework
	url = https://github.com/eitssg/core-framework.git
[submodule "core-db"]
	path = core-db
	url = https://github.com/eitssg/core-db.git
[submodule "core-docs"]
	path = core-docs
	url = https://github.com/eitssg/core-docs.git
[submodule "core-api"]
	path = core-api
	url = https://github.com/eitssg/core-api.git
[submodule "core-execute"]
	path = core-execute
	url = https://github.com/eitssg/core-execute.git
